// 略缩说明：f: font ; p: padding; m: margin; b: border; t: text; tblr: top/bottom/left/right;
// 变量
//color_primary = #66A6FF
color_primary = #f9ab37
color_orange = #ff851b
color_darker = #333
color_dark = #666
color_gray = #999
color_light = #ccc
color_lighter = #ddd
default_border_color = #eee
default_bg_color = #eee
default_header_height = 47px
default_tabs_height = 58px

font_little = 12px
font_small = 14px
font_normal = 16px
font_big = 18px
font_tiny = 20px
space0 = 0
space1 = 5px
space2 = 10px 
space3 = 15p
space4 = 20px
space5 = 30px

// 重置浏览器行为
html
  color #000
  background #fff
  box-sizing border-box
  font-size 16px
body,div,p,ul,li
  margin 0
  padding 0
table
  border-collapse collapse
  border-spaceing 0
img
  border 0
p
  line-height 1.5
ul
  list-style none
input,label
  font-size 16px
// color 参考clrs.cc
.primary
  color color_primary!important
.dark
  color color_dark
.darker
  color color_darker
.gray
  color color_gray
.light
  color color_light
.white
  color #fff!important
.white-font //避免被电信运营商的样式覆盖
  color #fff!important
.bg
  background-color default_bg_color!important
.bg-primary
  background-color color_primary!important
.bg-orange
  background-color color_orange
.bg-white
  background-color #fff
.bg-gray
  background-color color_gray
.bg-light
  background-color color_light
.bg-green
    background-color #2ECC40
.black
  color #000
.navy
  color #001f3f
.blue
  color #0074D9
.aqua
  color #4a90e2
.teal
  color #39cccc
.olive
  color #3d9970
.green
  color #2ECC40
.lime
  color #01ff70
.yellow
  color #FFDC00
.orange
  color #ff851b
.red
  color #FF4136
.maroon
  color #85144b
.fuchsia
  color #f012be
.purple
  color #b10dc9
.gray
  color #aaa
.silver
  color #ddd


// font
.f5,.little
  font-size 12px
.f4,.small
  font-size 14px
.f3,.normal
  font-size 16px
.f2,.big
  font-size 18px
.f1,.tiny
  font-size 20px!important
.bold
  font-weight bold

.underline
  text-decoration underline


// line-height
.lh1
  line-height 1
.lh15
  line-height 1.5
.lh2
  line-height 2

// padding
.p0
  padding space0
.pt0
  padding-top space0
.pb0
  padding-bottom space0
.pl0
  padding-left space0
.pr0
  padding-right space0
.px0
  padding-left space0
  padding-right space0
.py0
  padding-top space0
  padding-bottom space0

.p1
  padding space1
.pt1
  padding-top space1
.pb1
  padding-bottom space1
.pl1
  padding-left space1
.pr1
  padding-right space1
.px1
  padding-left space1
  padding-right space1
.py1
  padding-top space1
  padding-bottom space1

.p2
  padding space2
.pt2
  padding-top space2
.pb2
  padding-bottom space2
.pl2
  padding-left space2
.pr2
  padding-right space2
.px2
  padding-left space2
  padding-right space2
.py2
  padding-top space2
  padding-bottom space2

.p3
  padding space3
.pt3
  padding-top space3
.pb3
  padding-bottom space3
.pl3
  padding-left space3
.pr3
  padding-right space3
.px3
  padding-left space3
  padding-right space3
.py3
  padding-top space3
  padding-bottom space3

.p4
  padding space4
.pt4
  padding-top space4
.pb4
  padding-bottom space4
.pl4
  padding-left space4
.pr4
  padding-right space4
.px4
  padding-left space4
  padding-right space4
.py4
  padding-top space4
  padding-bottom space4

.p5
  padding space5
.pt5
  padding-top space5
.pb5
  padding-bottom space5
.pl5
  padding-left space5
.pr5
  padding-right space5
.px5
  padding-left space5
  padding-right space5
.py5
  padding-top space5
  padding-bottom space5

// margin
.mx-auto
  margin-left auto
  margin-right auto

.m0
  margin space0
.mt0
  margin-top space0
.mb0
  margin-bottom space0
.ml0
  margin-left space0
.mr0
  margin-right space0
.mx0
  margin-left space0
  margin-right space0
.my0
  margin-top space0
  margin-bottom space0

.m1
  margin space1
.mt1
  margin-top space1
.mb1
  margin-bottom space1
.ml1
  margin-left space1
.mr1
  margin-right space1
.mx1
  margin-left space1
  margin-right space1
.my1
  margin-top space1
  margin-bottom space1


.m2
  margin space2
.mt2
  margin-top space2
.mb2
  margin-bottom space2
.ml2
  margin-left space2
.mr2
  margin-right space2
.mx2
  margin-left space2
  margin-right space2
.my2
  margin-top space2
  margin-bottom space2

.m3
  margin space3
.mt3
  margin-top space3
.mb3
  margin-bottom space3
.ml3
  margin-left space3
.mr3
  margin-right space3
.mx3
  margin-left space3
  margin-right space3
.my3
  margin-top space3
  margin-bottom space3

.m4
  margin space4
.mt4
  margin-top space4
.mb4
  margin-bottom space4
.ml4
  margin-left space4
.mr4
  margin-right space4
.mx4
  margin-left space4
  margin-right space4
.my4
  margin-top space4
  margin-bottom space4

.m5
  margin space5
.mt5
  margin-top space5
.mb5
  margin-bottom space5
.ml5
  margin-left space5
.mr5
  margin-right space5
.mx5
  margin-left space5
  margin-right space5
.my5
  margin-top space5
  margin-bottom space5

// border
.b
  border 1px solid default_border_color
.bt
  border-top 1px solid default_border_color
.bb
  border-bottom 1px solid default_border_color
.bl
  border-left 1px solid default_border_color
.br
  border-right 1px solid default_border_color
.border-lighter
  border-color color_lighter
.border-dashed //仅底部
  border-style none none dashed none
.border-transparent
  border-color transparent!important


// border-radius
.round-min
  border-radius 3px
.round
  border-radius 5px
.rounder
  border-radius 20px
.circle
  border-radius 50%

// flex
.flex
  display: -webkit-box
  display: -webkit-flex
  display flex
  -webkit-box-align: center
  -webkit-align-items: center
  vertical-align text-top
.column
  flex-direction column
.justify-start
  justify-content flex-start
.justify-end
  justify-content flex-end
.justify-center
  justify-content center
.justify-between
  justify-content space-between
.justify-around
  justify-content space-around
.align-start
  align-items flex-start
.align-stretch
  align-items stretch
.align-end
  align-items flex-end
.align-center
  align-items center
.self-center
  align-self center
.wrap
  flex-wrap wrap
.xy-center
  flex-direction row
  justify-content center
  align-items center

// position
.absolute
  position absolute
.relative
  position relative
.fixed
  position fixed
.top0
  top 0
.top1
  top space1
.top2
  top space2
.top3
  top space3
.top4
  top space4
.toph
  top default_header_height
.right0
  right 0
.bottom0
  bottom 0
.left0
  left 0
.flex1
  flex 1
.flex2
  flex 2
.flex3
  flex 3
.flex4
  flex 4
.flex5
  flex 5
.flex6
  flex 6
.flex7
  flex 7
.flex8
  flex 8
.flex9
  flex 9
.w33
  width 33%
.w34
  width 34%
.w60
  width 60%
.w70
  width 70%
.w80
  width 80%
.w90
  width 90%
.w100
  width 100%
.h100
  height 100%
.flex25
  flex 25
.flex33
  flex 33
.flex34
  flex 34
.flex66
  flex 66
.flex67
  flex 67
.fit //强制fit可使用w10
  max-width 100%
  height auto

// display
.block
  display block
.inline
  display inline
.inline-block
  display inline-block
.hidden
  display none

.border-box
  box-sizing border-box

// align
.tl
  text-align left
.tc
  text-align center
.tr
  text-align right
.vm
  vertical-align middle
// 其他
.overflow-y
  overflow-y auto
.overflow
  overflow hidden
.clearfix:before,
.clearfix:after{
  display table
  content ""
}
.clearfix:after
  clear both
.clearfix
  zoom 1
.fl
  float left
.fr
  float right

.pointer
  cursor pointer


// 屏蔽电信运营商广告
[id*="ads"],html iframe
    display none !important
    position fixed !important
    width 0 !important
    height 0 !important
    opacity 0 !important
    left -99999px !important
    top -99999px !important
    overflow hidden !important
    visibility hidden !important
