@import "base.styl"

html, body
  height 100%
//-webkit-overflow-scrolling touch
#app
  // height 100%
*
  box-sizing border-box

/*隐藏滚动条宽度*/
//::-webkit-scrollbar
//  opacity: 0
//  width: 0
//  height 0

/*自动换行*/
pre
  white-space pre-wrap

/*
div输入框placeholder内容样式
*/
div[contenteditable]:empty:before
  content:attr(placeholder)
  color:#999
div[contenteditable]:focus
  content:none;


/**
  头像相关
*/
.div-avatar
  background-repeat no-repeat
  background-size cover
  background-position center
.lg-avatar
  width 60px
  min-width 60px
  height 60px
.md-avatar
  width 40px
  min-width 40px
  height 40px
.min-avatar
  width 20px
  min-width 20px
  height 20px



.h20
  height 20px
.lh20
  line-height 20px
.h-lh40
  height 40px
  line-height 40px
.h-lh60
  height 60px
  line-height 60px

/*
  通用样式
 */

.test-last
  text-align-last justify
  width 58px

// 文字描述超出1行省略号
.cell-desc-1
  display -webkit-box
  -webkit-line-clamp 1
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis
  word-break break-all
// 文字描述超出2行省略号
.cell-desc-2
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis
  word-break break-all
// 文字描述超出3行省略号
.cell-desc-3
  display -webkit-box
  -webkit-line-clamp 3
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis
  word-break break-all
.cell-desc-4
  display -webkit-box
  -webkit-line-clamp 4
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis
  word-break break-all
.word-break-all
  word-break break-all
  border-color color_primary!important_
  background-color color_primary!important

/*
 select下拉框间距调整
*/
.el-select-dropdown.el-popper,
.el-picker-panel.el-date-picker.el-popper
  margin-top 5px

/*
 主题色按钮
*/
.btn-small
  width 112px
  height 40px
.text-overflow
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
.van-notify--danger
  background-color #d05c69!important
.btn-normal
  padding: 5px 15px;
  border-radius: 15px;
  display flex
  align-items center
  &:active
    opacity .7
  img
    width 16px
    height 16px
    margin-right 5px
  span 
    font-size: 14px;
    height 16px
    line-height 16px
    color #fff
@keyframes flashing {
  0% {
    left -200%
  }
  75% {
    left -200%
  }
  100% {
    left 200%
  }
}
.flash-wrap {
  overflow hidden
  position relative
  border-radius 40%
}
.flash
  height: 100%;
  position: absolute;
  width: 30%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,.4) 50%, rgba(255,255,255, 0) 100%);
  transform: skewX(-45deg);
  z-index: 2;
  animation flashing 4s ease 0s
  animation-iteration-count infinite
